@charset "UTF-8";
/************************** about nav **********************/
.navbar{
	border-radius:0px;
	background-color: rgba(0,0,0,.8)!important;
}
nav a{
	color: #c0c0c0;
}
.dropdown-menu{
	background-color:  rgba(0,0,0,.6)!important;
}
.dropdown-menu > li{
	background-color:  rgba(0,0,0,.6)!important;
}
.dropdown-menu > li > a{
	color: #c0c0c0;
}
.dropdown-menu > li > a:hover{
	background: rgba(0,0,0,.8)!important;
	color:white;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: rgba(0,0,0,.8)!important;
}

/************************** main **********************/
.container{
	margin-top: 60px;
}
body{
	background-color: #eeeef2;
	font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","微软雅黑","华文细黑",STHeiti,sans-serif;
}
.col-md-3{
	padding:0px 0px 0px 11px;
}
.col-md-9>div{
	border:1px solid #d9d9d9;
	background-color: white;
}
.col-md-9{
	padding-right:0px;	
	padding-left:0px;	
}
/**************************custom************************/
.bbs_mainBox{
	padding: 2em;
	background: red;
}
#bbs_map{
	margin: 16px;
}
#bbs_map>a{
	color: gray;
}
.bbs_nav>li>a:focus, .bbs_nav>li>a:hover{
	background: rgba(0,0,0,.8)!important;
	color:white;
}
.bbs_subNav{
	margin: 15px 15px;
}
.block{
	display: block;
}
.bbs_list:hover{
	text-decoration: none;
}
.bbs_listTitle{
	font-size: 1.2em;
	color: black;
}
.bbs_listCount{
	float: right;
	margin-right: 36px;
}
.bbs_subTitle{
	font-size: 1.25em;
	font-weight: bold;
}
.bbs_bold{
	font-weight: bold;
}
.bbs_listTitle:hover{
	text-decoration: underline;
	color: #00007b;
}
.bbs_listSubTitle{
	color:#8e8e8e;
	font-size: 0.9em;
	padding: 5px 0px;
}
.bbs_table{
	margin-top: 15px;
}
.bbs_table>tbody>tr>td, .bbs_table>tbody>tr>th, .bbs_table>tfoot>tr>td, .bbs_table>tfoot>tr>th, .bbs_table>thead>tr>td, .bbs_table>thead>tr>th{
	border-top: none;
	border-bottom: 1px solid #ddd;
	padding-left: 36px
}

.bbs_twoColTable>tbody>tr>td, 
.bbs_twoColTable>tbody>tr>th, 
.bbs_twoColTable>tfoot>tr>td, 
.bbs_twoColTable>tfoot>tr>th, 
.bbs_twoColTable>thead>tr>td, 
.bbs_twoColTable>thead>tr>th{
	border: none;
}
.bbs_twoColTable>tbody>tr>td:first-child, 
.bbs_twoColTable>tbody>tr>th:first-child, 
.bbs_twoColTable>tfoot>tr>td:first-child, 
.bbs_twoColTable>tfoot>tr>th:first-child, 
.bbs_twoColTable>thead>tr>td:first-child, 
.bbs_twoColTable>thead>tr>th:first-child{
	width: 100px;
	text-align: right;
	font-weight: bold;
	padding-right: 12px;
}
.bbs_rightBox{
	background-color: white;
	min-height: 100px;
	border:1px solid #d9d9d9;
	margin-top: 12px;
	padding: 16px 12px;
}
.bbs_rightBox a{
	color: #3d3d3d;
}
.bbs_rightBox a:hover{
	color:blue;
}
/**comment**/
.bbs_comment_icon{
	width: 60px;
	height: 60px;
}
.bbs_comment_icon .bbs_icon{
	width: 60px;
	height: 60px;
	border-radius:30px;
}
.bbs_showItems .bbs_icon{
	width: 70px;
	height: 70px;
	border-radius:35px;
}
.bbs_showItems #bbs_poster_name{
	font-size: 1em;
	margin: 3px;
}
.bbs_showItems 
#bbs_comment{
	padding: 16px;
	margin-top: 12px;
}
#inputForm{
	margin:15px auto;
	width:576px;
	padding:30px 5% 75px;
	background-color: white;
	border-radius: 15px;
}
#inputForm form{
	margin-top: 18px;
}
/**icon**/
.bbs_poster>div{
	text-align: center;
}
.bbs_poster .bbs_icon{
	width: 100px;
	height: 100px;
	border-radius:50px;
}
.bbs_poster_tip{
	color: gray;
}
.bbs_poster_val{
	font-size:1.25em;
	font-weight: bold;
}
#bbs_poster_name{
	font-size: 1.5em;
	display: block;
}
#bbs_comment{
	margin-top: 12px;
	padding: 16px;
}
.bbs_comment_body{
	font-size: 1.2em;
	padding: 5px 0px;
}
.bbs_comment_name{
	font-size: 0.8em;
}
.bbs_comment_date{
	font-size: 0.8em;
	margin-left:5px;
	color: gray;
}
.bbs_comment_content{
	margin-top: 3px;
}
/**admin**/
#bbs_admin_mainBox{
	padding: 5px 36px;
}
#bbs_admin_mainBox>div{
	display: none;
}
#bbs_admin_mainBox input{
	width: 100px;
}
.bbs_fnBox{
	text-align: center;
}
.bbs_fnBox img{
	width: 25px;
}
.bbs_fnBox a{
	color: black;
}
#bbs_bottom{
	background-color: #4a4747;
    padding: 12px;
    text-align: center;
    color: white;
}
